<head>
	<title><%=title%></title>
	<script src="/socket.io/socket.io.js"></script>
	<script src="javascripts/busGPS.js">
	</script>
</head>
<body>
	<header>
		<h1 class="">버스 관리자 페이지</h2>
	</header>
	<div class="">
		<p>만석일때, 눌러주세요</p><button type="button" onclick="">만석</button>
	</div>
	<div id="location">
	</div>
</body>
